/*reset*/
a {
    color: inherit;
    text-decoration: none;
}


/*flex*/
.d-flex {
    display: flex;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.flex {
    flex: 1;
}

.flex-shrink-none{
    flex-shrink: 0;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.relative-parent{
    position: relative;
    overflow: hidden;
}

.absolute-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.table-center {
    display: table;
}

.cell-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/*padding*/
.pl-0_25 {
    padding-left: 0.25em;
}

.pt-0_25 {
    padding-top: 0.25em;
}

.pr-0_25 {
    padding-right: 0.25em;
}

.pb-0_25 {
    padding-bottom: 0.25em;
}

.p-0_25 {
    padding: 0.25em;
}

.pl-0_35 {
    padding-left: 0.35em;
}

.pt-0_35 {
    padding-top: 0.35em;
}

.pr-0_35 {
    padding-right: 0.35em;
}

.pb-0_35 {
    padding-bottom: 0.35em;
}

.p-0_35 {
    padding: 0.35em;
}

.pl-0_45 {
    padding-left: 0.45em;
}

.pt-0_45 {
    padding-top: 0.45em;
}

.pr-0_45 {
    padding-right: 0.45em;
}

.pb-0_45 {
    padding-bottom: 0.45em;
}

.p-0_45 {
    padding: 0.45em;
}

.pl-0_5 {
    padding-left: 0.5em;
}

.pt-0_5 {
    padding-top: 0.5em;
}

.pr-0_5 {
    padding-right: 0.5em;
}

.pb-0_5 {
    padding-bottom: 0.5em;
}

.p-0_5 {
    padding: 0.5em;
}

.pl-0_7 {
    padding-left: 0.7em;
}

.pt-0_7 {
    padding-top: 0.7em;
}

.pr-0_7 {
    padding-right: 0.7em;
}

.pb-0_7 {
    padding-bottom: 0.7em;
}

.p-0_7 {
    padding: 0.7em;
}

.pl-0_75 {
    padding-left: 0.75em;
}

.pt-0_75 {
    padding-top: 0.75em;
}

.pr-0_75 {
    padding-right: 0.75em;
}

.pb-0_75 {
    padding-bottom: 0.75em;
}

.p-0_75 {
    padding: 0.75em;
}

.pl-1 {
    padding-left: 1em;
}

.pt-1 {
    padding-top: 1em;
}

.pr-1 {
    padding-right: 1em;
}

.pb-1 {
    padding-bottom: 1em;
}

.p-1 {
    padding: 1em;
}

.pl-1_5 {
    padding-left: 1.5em;
}

.pt-1_5 {
    padding-top: 1.5em;
}

.pr-1_5 {
    padding-right: 1.5em;
}

.pb-1_5 {
    padding-bottom: 1.5em;
}

.p-1_5 {
    padding: 1.5em;
}

.pl-2 {
    padding-left: 2em;
}

.pt-2 {
    padding-top: 2em;
}

.pr-2 {
    padding-right: 2em;
}

.pb-2 {
    padding-bottom: 2em;
}

.p-2 {
    padding: 2em;
}

.p--2 {
    padding: -2em;
}

/*margin*/

.ml-0_2 {
    margin-left: 0.2em;
}

.mt-0_2 {
    margin-top: 0.2em;
}

.mr-0_2 {
    margin-right: 0.2em;
}

.mb-0_2 {
    margin-bottom: 0.2em;
}

.m-0_2 {
    margin: 0.2em;
}

.m-0_25 {
    margin: 0.25em;
}

.ml-0_3 {
    margin-left: 0.3em;
}

.mt-0_3 {
    margin-top: 0.3em;
}

.mr-0_3 {
    margin-right: 0.3em;
}

.mb-0_3 {
    margin-bottom: 0.3em;
}

.ml-0_35 {
    margin-left: 0.35em;
}

.mt-0_35 {
    margin-top: 0.35em;
}

.mr-0_35 {
    margin-right: 0.35em;
}

.mb-0_35 {
    margin-bottom: 0.35em;
}

.m-0_35 {
    margin: 0.35em;
}

.ml-0_5 {
    margin-left: 0.5em;
}

.mt-0_5 {
    margin-top: 0.5em;
}

.mr-0_5 {
    margin-right: 0.5em;
}

.mb-0_5 {
    margin-bottom: 0.5em;
}

.m-0_5 {
    margin: 0.5em;
}

.ml-0_7 {
    margin-left: 0.7em;
}

.mt-0_7 {
    margin-top: 0.7em;
}

.mr-0_7 {
    margin-right: 0.7em;
}

.mb-0_7 {
    margin-bottom: 0.7em;
}

.m-0_7 {
    margin: 0.7em;
}

.m-0_75 {
    margin: 0.75em;
}

.m--0_75 {
    margin: -0.75em;
}

.ml-1 {
    margin-left: 1em;
}

.mt-1 {
    margin-top: 1em;
}

.mr-1 {
    margin-right: 1em;
}

.mb-1 {
    margin-bottom: 1em;
}

.m-1 {
    margin: 1em;
}

.m--1 {
    margin: -1em;
}

.ml-1_25 {
    margin-left: 1.25em;
}

.mt-1_25 {
    margin-top: 1.25em;
}

.mr-1_25 {
    margin-right: 1.25em;
}

.mb-1_25 {
    margin-bottom: 1.25em;
}

.m-1_25 {
    margin: 1.25em;
}

.ml-1_5 {
    margin-left: 1.5em;
}

.mt-1_5 {
    margin-top: 1.5em;
}

.mr-1_5 {
    margin-right: 1.5em;
}

.mb-1_5 {
    margin-bottom: 1.5em;
}

.m-1_5 {
    margin: 1.5em;
}

.ml-2 {
    margin-left: 2em;
}

.mt-2 {
    margin-top: 2em;
}

.mr-2 {
    margin-right: 2em;
}

.mb-2 {
    margin-bottom: 2em;
}

.m-2 {
    margin: 2em;
}

.m--2 {
    margin: -2em;
}

.m-a {
    margin: auto;
}

@media (max-width: 500px) {

    .sm-m-1 {
        margin: 0.5em;
    }

    .sm-ml-1 {
        margin-left: 0.5em;
    }

    .sm-mt-1 {
        margin-top: 0.5em;
    }

    .sm-mr-1 {
        margin-right: 0.5em;
    }

    .sm-mb-1 {
        margin-bottom: 0.5em;
    }

}

/*default*/
.img-full {
    display: block;
    max-width: 100%;
}

.img-contain {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.text-center{
    text-align: center;
}

.full-height {
    height: 100%;
}
/*animations*/
@keyframes wiggle {
    2% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    4% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    6% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    8% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    10% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    12% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    14% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    16% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    18% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    20% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

input, button{
    outline: none;
    border: none;
    background: none;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {transition: 0.3s ease 0s}
input::-moz-placeholder, textarea::-moz-placeholder {transition: 0.3s ease 0s}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {opacity:0;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {opacity:0;}

/*reveal*/
.reveal-text:after{
    content: "";
    position: absolute;
    z-index: 999;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
}

@-webkit-keyframes text-revealer {

    0%, 50% {
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
    }

    60%, 100% {
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }


    60% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    100% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}


@keyframes text-revealer {

    0%, 50% {
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
    }

    60%, 100% {
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }


    60% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    100% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}